:root {
  --yellow: #ffaa3b;
  --brown: #b87333;
  --light-gray: #d3d3d3;
  --medium-gray: #bebebe;
  --dark-gray: #495057;
  --green: #198754;
}

html {
  max-height: 10em;
  min-width: 25em;
  overflow-y: scroll;
}

body {
  padding: 1em;
}

header {
  padding: 0.4em;
  color: var(--dark-gray);
}

.display-none {
  display: none !important;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.btn-outline-primary {
  color: var(--dark-gray);
  background-color: transparent;
  border-color: var(--dark-gray);
}

.btn-check + .btn:hover {
  color: var(--dark-gray);
  background-color: white;
  border-color: var(--dark-gray);
}

.btn-check:checked + .btn {
  color: white;
  background-color: var(--dark-gray);
  border-color: var(--dark-gray);
}
