:root {
  --yellow: #ffaa3b;
  --brown: #b87333;
  --light-gray: #d3d3d3;
  --dark-gray: #495057;
  --green: #198754;
}

html {
  max-height: 10em;
  min-width: 25em;
  overflow-y: scroll;
}

body {
  padding: 1em;
}

header {
  padding: 0.4em;
  color: var(--dark-gray);
}

.display-none {
  display: none !important;
}

/* These 2 flex related classes are overridden since bootstrap uses !important which is incompatible with our use of display-none  */

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

/* These 3 btn related classes are overridden to change button toggle group color to dark-gray  */

.btn-outline-primary {
  color: var(--dark-gray);
  background-color: transparent;
  border-color: var(--dark-gray);
}

.btn-check + .btn:hover {
  color: var(--dark-gray);
  background-color: white;
  border-color: var(--dark-gray);
}

.btn-check:checked + .btn {
  color: white;
  background-color: var(--dark-gray);
  border-color: var(--dark-gray);
}

.form-floating > .form-control:focus {
  &::placeholder {
    color: var(--light-gray) !important;
  }
}
